.whole{
    background-color: #c7ddef;
}


#show-contact {
    display: none;
}

.contact {
    cursor: pointer;
    color: #0088cc;
}

.contact:hover {
    text-decoration: none;
    color: whitesmoke;
}

.displayContact{
    background-color: #2e6da4;
    width: 30%;
    height: auto;
    color: whitesmoke;
    border: double whitesmoke 5px;
}

.awesomeFont{
    font-size: 36px;
}
